.shipmentHeader {
    margin-left: 10px;
}

.shipmentIcon {
    height: 80px;
}

.shipmentHeaderDiv {
    display: flex;
    padding-bottom: 20px;
    padding-top: 10px;
}


.shipmentDetailBtn {
    background: cornflowerblue;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-decoration:none !important;
    border-radius:5px;
}

.alignRight{
    margin-left:20px;
}

.detailHeader{
    text-decoration:underline;
}

.shipmentNameLink {
    text-decoration: underline !important;
    color: darkblue !important;
}

